@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background: #0f172a;
  color: #f8fafc;
  font-family: Inter, Arial, sans-serif;
}

input,
select {
  outline: none;
}

input:focus,
select:focus {
  border-color: rgb(37 99 235);

  box-shadow: 0 0 0 2px rgb(37 99 235 / 0.25);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2563eb;

  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: #18181b;
}
